* {
    font: normal 10px;
}

/*QMainWindow {
    background-color: white;
}*/

QLabel {
    min-width: 100px;
    padding: 5px;
}

QLineEdit {
    min-width: 150px;
    border: 1px solid #CCC;
    height: 20px;
    padding-left: 10px;
    background-color: white;
}

QPushButton {
    background: #3498db;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

QPushButton:hover {
    background: #3cb0fd;
}

QPushButton:focus:pressed {
    background: #d6d6d6;
}

/*QPushButton:focus:pressed:after{
    content: 'Pressed';
    background-color: red;
}*/

QTabWidget {
    background-color: white;
}

QPlainTextEdit {
    /*background-color: #d6d6d6;*/
    background-color: white;
}

QCheckBox {
    /*padding: 0px 10px;
    spacing: 2px;*/
    padding: 0px;
    spacing: 0px;
}

/* Use the # and the name of the variable to access a specific Control. */
#_constant5 QLineEdit { color: red; }
#_constant3 QLineEdit { color: red; }
/* #_script_run QPushButton { background: #004000; } */
